
# Visual Studio
.vs/
*.user
*.suo

# Archivos temporales de compilación
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.lastbuildstate
*.cachefile
*.db
*.db-shm
*.db-wal

# Carpetas de compilación
/x64/
/Debug/
/Release/

# Archivos de CMake (si usas)
CMakeFiles/
CMakeCache.txt
/proyecto.0ad3c7f7
/.vscode
p
